<div>
  <div class="jumbotron" style="margin-top:-20px">
    <div class="container">
      <h2><a href="http://didawiki.cli.di.unipi.it/doku.php/informatica/all-a/start">Algoritmica e Laboratorio</a></h2>
      <p>Anno Accademico 2013/2014</p>
    </div>
  </div>
  <div class="container">
    <div class="row hidden-xs">
      <div class="col-sm-4">
        <h2>Esercizi</h2>
      </div>
      <div class="col-sm-4">
        <h2>Ranking</h2>
      </div>
      <div class="col-sm-4">
        <h2>Forum</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2 class="visible-xs">Esercizi</h2>
        <p>Risolvi gli esercizi</p>
        <p class="visible-xs"><a class="btn btn-default" ui-sref="tasklist.page({pageNum: 1})">Vai agli esercizi &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2 class="visible-xs">Ranking</h2>
        <p>Visualizza la classifica</p>
        <p class="visible-xs"><a class="btn btn-default" ui-sref="ranking.page({pageNum: 1})">Mostra il ranking &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2 class="visible-xs">Forum</h2>
        <p>Discuti con gli altri studenti</a></p>
      </div>
    </div>
    <div class="row hidden-xs">
      <div class="col-sm-4">
        <p><a class="btn btn-default" ui-sref="tasklist.page({pageNum: 1})">Vai agli esercizi &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <p><a class="btn btn-default" ui-sref="ranking.page({pageNum: 1})">Mostra la classifica &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <p><a class="btn btn-default" ui-sref="forums">Vai al forum &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
